
p {
 font-family: Corbel;
}

span > input {
 background-color: rgb(180,180,180);
 border-color: blue;
}

span {
  display: flex;
  flex-wrap: wrap;
  margin-left: 125px;
  margin-top: -33px;
}

input {
  border-color: red;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 8px;
  margin-right: 1.5em;
}

iframe {
  border: 1px solid black;
  height: 80vh;
  width: 100%;
}
