
body {
  padding: 20px;
}

p {
 font-family: Corbel;
}

span > input {
 background-color: rgb(180,180,180);
}

span {
  margin-left: 125px;
}

input {
  border-color: red;
  border-radius: 6px;
  margin-right: 4px;
  margin-bottom: 8px;
  padding: 8px;
}
